body {
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px !important;
}

.card-title {
  font-size: 1.2rem;
}

form label {
  font-weight: 500;
}

button {
  border-radius: 8px !important;
}
